body {
    background-color:rgb(72, 138, 164);
}

div#titulo {
    display:block;
    text-align: center;
    color:blue;
}

p#info {
    border:2px solid black;
    text-align: justify;
    padding:20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color:skyblue;
}

li {
    margin-left:10%;
    display:inline-table;
    color:white;
}

a {
    border:2px solid rgb(17, 5, 145);
    padding:10px;
    margin-left:10%;
    color:white
}

a#turismo{
    margin-left: 20%;
}

form {
    margin-left: 10%;
    margin-right:10%;
    background-color:skyblue;
    padding:2%;
}

fieldset {
    height: 8cm;
    border-color: blue;
}

input#mensaje {
    width:98%;
    height:40%  
}





